

html { 
   font-size: 1em !important;
   color: white !important;
   font-family: 'Roboto', sans-serif;
   padding: 0;
   margin: 0;
}

body { 
  height: 100vh;
  margin: 0px;
  padding: 0;
  margin: 0;
}

main { 
  display: inline-block;
  width: 100%;
  display: flex;
  padding: 0;
  margin: 0;
}

.container img { 
  width: 20%;
  height: 30%;
  /*width: 57px;*/
  /*height: 70px;*/

}

.box { 
  display: flex;
  width: 33.3%;
  height: 276px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.container { 
  display: flex;
  width: 60%;
  flex-wrap: wrap;
  margin-right: 0;
} 

.article1 { 
  width: 66.6%;
  background-color: #063c53;
  color: white;
  justify-content: left;
}

button { 
  border: 2px solid white;
  background: none;
  color: white;
  padding: 15px 40px 15px 40px;
  margin: 20px;
  margin-top: 10px;
}

.leftbox { 
  margin-left: 25px;
}

.right-box { 
  margin-left: 1%;
}

.left-box:hover { 
  color: grey;
  opacity: 0.5;
}

.right-box:hover { 
  color: grey;
  opacity: 0.5;
}

h1  { 
  padding-top: 50px;
  padding-left: 23px;
  font-size: 30px;
  margin-bottom: 0px;
}

p { 
  font-size: 15px;
  padding-left: 21px;  
  opacity: 0.5;
  width: 327px;
}

article:hover { 
  opacity 0.5;
}

.article2 { 
  width: 33.3%;
  background-color: #136572;
}


.icons:hover { 
  opacity: 0.5;
}

.btn {
  border: none;
}


.article2:hover { 
  background-image: url("images/GlenCoe.jpg");
  background-repeat: none;
  background-size: cover;
}

.article3 { 
  width: 33.3%;
  background-color: #d8e1cf;
}

.article3:hover {
  background-image: url("images/Edinburgh.jpg");
  background-repeat: none;
  background-size: cover;
}

.article4 { 
  width: 33.3%;
  background-color: #73aca7;
  width: 25%
  height: 40%;
}

.article4:hover { 
  background-image: url("images/BealachnaBa.jpg");
  background-repeat: none;
  background-size: cover;
}

.article5 { 
  width: 33.3%;
  background-color: #438484;
}

.article5:hover {
  background-image: url("images/loch-lomond.jpg");
  background-repeat: none;
  background-size: cover;
}

.article6 { 
  width: 33.3%;
  background-color: #063c53;
}

.article6:hover { 
  background-image: url("images/IsleofSkye.jpg");
  background-repeat: none;
  background-size: cover;
}

.article7 { 
  width: 33.3%;
  background-color: #136572;
}

.article7:hover { 
  background-image: url("images/Scotch.jpg");
  background-repeat: none;
  background-size: cover;
}

.article8 { 
  width: 33.3%;
  background-color: #d8e1cf;
}

.article8:hover {
  background-image: url("images/Ullapool.jpg");
  background-repeat: none;
  background-size: cover;
}


.right-side { 
  display: flex;
  justify-content: space-between;
  width: 45%;
  background-repeat: none;
  background-size: cover;
  background-image: url("images/DunnottarCastle.jpg");
  height: 828px;
  width: 620px;
}

.right-side img { 
  height: 5%;
  width: 5%;
}

.bottombutton:hover { 
  opacity: 0.5;
}

.carousel-right { 
  padding-top: 65%;
  padding-left: 77%;
}

.carousel-left { 
 padding-top: 65%;
 padding-left: 6%;
}

.threedots { 
  padding-right: 5px;
  opacity: 0.5;
}

@media screen and (max-width:500px;) {
  
  .container { 
  flex-wrap: wrap;
  justify-content: flex-end;
}
  article {
  max-width: 300px;
}

.right-side { 
  flex-wrap: wrap;
}

 
  